/* This stylesheet is used to style the public-facing components of the plugin. */


.open311-form fieldset + fieldset {
	margin-top : 2em;
}

.open311-form {
	margin-bottom : 2em;
}


.open311-request {
	margin-bottom : 2em;
}

.open311-id {
	font-weight : bold;
}


.open311-status {
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: bold;
    color : #fff;
    display: inline-block;
}

.state-new, 
.state-open {
    background-color: #6cc644;
}
